[2015-11-05 15:46] jouvin opened #1 "KB newsletter remarks/todo"
Reviewing the draft newsletter proposed by @hegner (https://github.com/HEP-SF/hep-sf.github.io/blob/master/_drafts/nodate-Newsletter-KB.md), I found these minor issues:
* I'd suggest the first part to have title like `HSF Status` as it is confusing to read things that have nothing to do with the main title (KB).
* Second §: `hoping for` instead of `hoping fore`. And there is sort of html comment i

[2015-11-05 17:05] jouvin commented on #1
We also need a section on the logo contest.

[2015-11-10 20:05] jouvin opened #5 "howto.md should be renamed how-to-contribute.md"
To avoid future name collisions (we may want to have how-to on other topics). Don't forget to update reference to this page.

[2015-11-10 21:30] jouvin opened #8 "timeline.md: update with Fall activities"
The last event in the HSF timeline is April 2015. Not fair for the work done in the last months! Need an update with the work, not always visible, to deliver/improve the first HSF services.

[2015-11-11 13:24] hegner commented on #1
I hope I addressed your points in my draft. Job openings/events are added automatically on the website.

[2015-11-11 13:26] hegner opened #11 "Extend licensing WG page"
The licensing working group page is a stub and needs extension.
@jouvin - I believe that could be something for you.

[2015-11-11 15:57] jouvin commented on #11
I'll do it as soon as we are done with other suffs. Not a showstopper for switching to the new web site anyway, IMO

[2015-11-11 16:23] jouvin opened #13 "team.md: check/update startup team member list"
We may want to review the team member list in organization/team.md (initially raised in #7).

[2015-11-11 16:59] wenaus commented on #13
The definitive member list is the google group membership, if google has a
link to the members (without exposing emails) we can just link that

On Wed, Nov 11, 2015 at 11:23 AM, Michel Jouvin <notifications@github.com>
wrote:

--
-- Torre Wenaus, BNL, ATLAS Experiment  wenaus@gmail.com  wenaus.org/torre
-- BNL: 631 344-4755

[2015-11-11 17:16] hegner commented on #5
Renamed into howto-website.

[2015-11-11 17:16] #5 closed

[2015-11-11 18:15] #11 closed

[2015-11-11 20:25] jouvin commented on #13
After offline discussion, probably no need for this issue...

[2015-11-11 20:25] #13 closed

[2015-11-11 20:57] jouvin commented on #1
Closed by #9

[2015-11-11 20:57] #1 closed

[2015-11-11 21:01] jouvin opened #16 "For latin words, do not use the latin plural!"
I'd suggest that for latin words like `forum`, we say `forums` rather than `fora` when plural. One visible occurence is in the `Activities` menu.

[2016-03-04 12:13] jouvin commented on #8
Done quite a long time ago!

[2016-03-04 12:13] #8 closed

[2016-03-04 18:47] #16 closed

[2017-02-03 13:27] pelmer opened #96 "Drop down menus don't seem to work properly on iOS"
hi, the "Activities", "Communication" and "About" drop-down menus do not seem to work on iOS.
For some odd reason I -am- able to get the "Projects and Support" to open, but the others do not (AFAICT).

[2017-02-05 13:38] jouvin commented on #96
Strange... I don't have an iOS device myself so I cannot test... I just tried on Android and it works just fine! In fact very well: the menu is grouped in a "menu button" and the page is much nicely formatted than I thought...

I'll try to see if I have one collegue who has one and could do the test. Is it a new problem or is it the first time you tried?

[2017-02-05 13:55] jouvin opened #110 "GSoC: suggested improvements for managing the projects and organizations"
Based on the experience during GSoC 2017 project application phase, it would be nice to streamline a little bit more the management of projects and organizations. In particular, it would be nice to be able to add a project or organization without doing anything else than adding its MD page. Currently, it is still necessary to edit the main page to add it to the list. Also organizations have no des

[2017-02-05 14:17] hegner commented on #110
Hi Michel. I agree with your points. We can tackle that for next year as the collection of projects will finish today.

[2017-02-05 14:19] hegner commented on #96
Tested that on Android as well. And there things are indeed fine. Already agreed with Pere (who got an IPhone) to do some debugging together the next days.

[2017-02-05 14:27] jouvin commented on #110
Sure. I have personnally no time to work on it presently... thus this issue to remember what I'd in mind! All these changes should be anyway not intrusive to users (except may be a directory change) and coud be done when we have a bit of spare time.

[2017-02-08 08:45] sbinet opened #122 "meta: rebase PRs before applying changeset"
hi,

it's more a meta-issue rather than an issue proper...

but could we always rebase a PR before merging it?
this would dramatically reduce the noise in the git history and its associated spaghettification:

[code]

that's quite unwieldly...

compare this situation to a (much more complex) repository (`Go`'s), and you get:

[code]

[2017-02-09 16:55] hegner commented on #96
@pelmer - should work now. Can you test?

[2017-03-25 17:19] jouvin commented on #122
Agreed! I know that there is a new option in GitHub to enforce it in merge request but I have no personal experience with it and I don't know about the possible drawbacks (like problem on GitHub that you have not seen in your dev environment). The other option is to check this during PR reviews... and you are welcome to participate!

[2017-03-25 18:20] jouvin opened #134 "Invalid URL in proposal_GoInterpreterWagon.md"
We are trying to enforce exernal link verification as part of the tests run on the web site. `_gsocproposals/proposal_GoInterpreterWagon.md` contains a reference to an invalid GitHub organization, `https://github.com/gopherds` (only `gopherd` exists but is an empty organization).

The exact error message from the test is:
[code]
@sbinet please, could you fix it or tell us what is the URL to use. T

[2017-03-25 22:45] sbinet commented on #134
Yeah, the organization was renamed to 'gopherdata' not a long ago.
I'll send a PR.

[2017-03-28 12:39] #134 closed

[2017-09-11 14:24] graeme-a-stewart opened #158 "Please fix CWP papers"
Hi Mark

In commit 72afdf29 you added two CWP paper links, but you didn't actually add the PDFs to the HSF site, so these are broken links and make Travis look ill for everyone. Can you fix that please?

Thanks

Graeme

[2017-09-21 10:36] graeme-a-stewart commented on #158
Ping! Any news on this @msneubauer? Even if you pointed me to where the papers are I can add them to the assets.

[2017-09-21 10:58] pelmer commented on #158
It looks like these were "fixed" in the sense that the note was added for one and the other one was removed. I think I saw a different Mark-related problem in the latest travis build: it had an SSL error while trying to connect to the link to Mark's homepage from the Startup Team page.

[2017-09-25 19:16] graeme-a-stewart commented on #158
OK, seems this is all good now. Thanks @msneubauer.

[2017-09-25 19:16] #158 closed

[2017-09-25 19:17] graeme-a-stewart commented on #96
Ping @pelmer - does it seem to be ok for you now?

[2017-09-26 06:42] graeme-a-stewart commented on #122
OK, I have now disabled merge commits in the project settings, so they have to be rebased for an FF merge (as @jouvin said, GitHub can actually rebase the PR itself automatically anyway).

[2017-09-26 06:42] #122 closed

[2017-10-10 08:25] graeme-a-stewart commented on #96
OK, then I assume this is fixed (in the absence of recent complaints!)

[2017-10-10 08:25] #96 closed

[2017-11-13 10:11] graeme-a-stewart opened #184 "URL checking is unreliable"
As discussed in https://github.com/HEP-SF/hep-sf.github.io/pull/183 with @hegner and @jouvin , we now have so many external URLs in the HSF website we observe a significant failure rate from

- Websites that are really in downtime for some ~hours
- Temporary timeouts

Immediate retries would help with the later. A nightly check might help with the former.

However, we should be aware that over com

[2017-11-13 10:20] hegner commented on #184
We should implement a check that only looks at URLs in the respective pull-request. To ensure long-term stability, I would suggest a weekly (not nightly) test. EP/SFT can provide it for the time being.

[2017-11-13 20:37] jouvin commented on #184
It is not so easy to find the URLs changed in the pull request, this will  require a lot of parsing and I am not convinced that this is a good idea. As said somewhere else, I'd start by redoing the check (in the script used) in case of a failure. My experience with failing tests in our web site is that rerunning the test has always resulted in a successful test, except when there was really a prob

[2018-01-29 12:01] #110 closed

[2018-01-29 17:26] jouvin opened #240 "GSoC: improve multiple year support"
In 2018, support for multiple GSoC years has been added to proposal management. It is based on  a subdirectory per year in every GSoC-related collection/directory. One of the drawback is that year selection when building the proposal list per project or per organization is based on this directory structure, meaning that organizations and projects have to be redefined every year. In particular for

[2018-02-22 10:15] graeme-a-stewart opened #310 "Redirects use absolute URLs"
I noticed when adding a new redirect that there is an 'automatic' failure in the htmlproofer, because the redirect points to the absolute URL on `http://hepsoftwarefoundation.org`. Evidently this doesn't work as the PR has not yet been merged.

It may be possible to get [`jekyll-redirect-from`](https://github.com/jekyll/jekyll-redirect-from) to behave better (not clear from the docs how) or to use

[2018-02-22 10:38] jouvin commented on #310
Is not it enough to use the relative URL, in this case `/`?

[2018-02-22 10:41] graeme-a-stewart commented on #310
AFAICR the redirector always uses the website address itself, so it becomes an absolute URL. We could play around a bit though...

[2018-03-15 15:21] jouvin opened #324 "Rename hep-sf.github.io into hsf.github.io"
Needs to be done after the renaming of the organization as the repo name must match the organization name. We also need to:
* [ ] Update `hepsoftwarefoundation.org` CNAME (owned/managed by Torre)
* [x] Update the `CNAME` file in the repo
* [x] Rename repo to hsf.github.io

Follow-up for #323

[2018-03-15 15:24] graeme-a-stewart commented on #324
OK, so shall I rename the repo now?

[2018-03-15 15:26] jouvin commented on #324
In fact no need to update the `CNAME` file as the web site is still referred by the same domain. So yes, I suggest to rename the repo. I don't think it will impact the web site anyway until the CNAME is updated. @wenaus could you also update the CNAME now (it may take the DNS TTL to be visible...)

[2018-03-15 15:30] graeme-a-stewart commented on #324
* [x] Rename repo to `hsf.github.io` (done)

[2018-03-15 15:32] wenaus commented on #324
hsf.github.io still 404 for me. You want me to update the CNAME now anyway?

[2018-03-15 15:33] graeme-a-stewart commented on #324
Fetching still seems to work - the old repo name is being redirected (thanks GitHub! 👍 )

[2018-03-15 15:35] jouvin commented on #324
@wenaus Yes... this is also true for `hep-sf.github.io` due to the CNAME file in the repo saying that the domain associated with this repo is `hepsoftwarefoundation.org`.

@graeme-a-stewart I  saw the same thing for me!

[2018-03-15 15:36] jouvin commented on #324
BTW, http://hepsoftwarefoundation.org still works... despite the contents has not been updated with the last PR mods. This is probably the most important.

[2018-03-15 15:39] wenaus commented on #324
ok done, 5min ttl

[2018-03-15 15:39] graeme-a-stewart commented on #324
@jouvin - I am seeing the last PR changes at http://hepsoftwarefoundation.org/ now. So at least my DNS seems to be updated.

Thanks @wenaus !

[2018-03-15 15:44] jouvin commented on #324
Great!

[2018-03-15 15:44] #324 closed

[2018-03-21 08:34] eduardo-rodrigues commented on #310
I believe this is sorted out at present?

[2018-03-21 08:41] graeme-a-stewart commented on #310
Not as far as I know...

[2018-03-21 22:56] JavierCVilla opened #331 "Link to the old website in the description"
Description of this repo still contains a reference to the old website name.

[2018-03-22 08:54] graeme-a-stewart commented on #331
Hi @JavierCVilla - I am not seeing it, where exactly do you find it?

[2018-03-22 08:54] graeme-a-stewart opened #332 "Navigation between meetings"
It would be nice to have "next meeting" "previous meeting" links on the minutes, as navigating through them is right now a bit of a pain.

[2018-03-22 09:01] JavierCVilla commented on #331
Hi @graeme-a-stewart ,

Following this [link](https://github.com/HSF/hsf.github.io) you get it:

![hep-sf-name](https://user-images.githubusercontent.com/4431174/37760753-de34b46e-2db7-11e8-8e5f-b4e34ba0a226.png)

[2018-03-22 09:06] graeme-a-stewart opened #333 "Update CWP page with arXiv links for published papers"
_activities/cwp.md has a few updates needed - simulation and reco, e.g.

[2018-03-22 09:17] graeme-a-stewart commented on #331
Ah, yes, I missed that. OK, fixed now.

Thanks

[2018-03-22 09:17] #331 closed

[2018-05-18 07:50] graeme-a-stewart opened #351 "Use https for website"
The https version of our website does not work, because the certificate is only valid for `*github.io` and `*github.com`.

Github have announced that they now support https for custom domain names:

https://blog.github.com/2018-05-01-github-pages-custom-domains-https/

So we should follow the procedure to enable this for HSF (maybe even disable the http version in time).

This might need @wenaus t

[2018-05-30 11:50] wenaus commented on #351
OK updated with 5min TTL. Amazon Route 53 appears not to support ANAME or ALIAS.
Sergey Panitkin @ BNL also has access to the BNL AWS account we're using.

[2018-05-30 12:06] graeme-a-stewart commented on #351
Thanks - ok, I will try to republish the site to get the https option working now.

[2018-05-30 12:13] graeme-a-stewart commented on #351
It's working perfectly now at https://hepsoftwarefoundation.org/. Thanks for the DNS updates.

[2018-05-30 12:13] #351 closed

[2018-06-08 09:49] graeme-a-stewart commented on #332
This is useful for fixing this:

https://stackoverflow.com/questions/16145061/get-next-and-previous-elements-out-of-an-array-in-liquid

[2018-08-20 19:54] RsCrd commented on #332
Fixed in #378

[2018-08-24 08:42] graeme-a-stewart commented on #332
This should have been fixed on merging #378, however we are not seeing links on the website. Needs investigation.

[2018-08-24 08:44] graeme-a-stewart commented on #332
Ah, it seems that arbitrary Jekyll plugins are not supported:

https://help.github.com/articles/adding-jekyll-plugins-to-a-github-pages-site/

So we need to find a way to work around this.

[2018-09-21 10:43] graeme-a-stewart commented on #332
Fixed in #383

[2018-09-21 10:43] #332 closed

[2018-10-11 10:51] graeme-a-stewart opened #390 "www.hepsoftware.org down"
http://www.hepsoftware.org has been down for ~1 week.

I know @wenaus looked at it already. We should discuss how to fix it here.

[2018-10-12 11:17] wenaus commented on #390
It is back, on a new well-behaved server. Sorry for the bother

[2018-10-12 11:17] #390 closed

[2018-10-12 11:32] graeme-a-stewart commented on #390
Thanks! Just in time for my next PR...

[2018-11-06 11:32] graeme-a-stewart opened #400 "Old github go-hep/fads link is broken"
Travis has been complaining about this for a while:

[code]

@sbinet - can you tell us the good URL now (or better, fix in a PR).

Thanks

[2018-11-06 13:10] #400 closed

[2018-12-05 10:47] graeme-a-stewart opened #413 "rucio.cern.ch website check fails"
We get consistent failures for a few weeks now with the Rucio website:

[code]

[2018-12-05 11:37] graeme-a-stewart commented on #413
Checking locally on my Mac I don't get the error. So it might be solved with a container update.

[2018-12-05 12:14] graeme-a-stewart commented on #413
So, I checked the container and noticed it contains a hand rolled certificate for `rucio.cern.ch`. If I remove that then the error reverts to `Peer certificate cannot be authenticated with given CA certificates`. Maybe that certificate is wrong, but my usual method of getting missing certificates now doesn't work.

[https://whatsmychaincert.com/generate?host=rucio.cern.ch](https://whatsmychaincert

[2018-12-05 12:14] #413 closed

[2019-01-30 12:44] graeme-a-stewart commented on #184
@JavierCVilla just pointed out this alternative link checker:

<https://github.com/endymion/link-checker>

Might be worth looking at.

[2019-02-28 20:15] graeme-a-stewart opened #528 "URL Proofer Failures"
Certificate checks against <https://rucio.cern.ch> have been failing for a while.

I have tracked this down to an old 'by hand' certificate that was installed in the HSF Jekyll container.

After a bit of experimentation I found that there is a problem with the Rucio cert as something in the  certificate chain doesn't seem to be installed properly. So I did have to update this and to keep installin

[2019-02-28 20:18] graeme-a-stewart commented on #528
Updated container build recipe:

https://github.com/HSF/docker/commit/5ad37965ac59b9b90b77ecd30403aacfdfcd65ba

[2019-02-28 20:18] #528 closed

[2019-04-11 10:45] JavierCVilla opened #561 "Link to nixcon2018.org does not work with https"
The continuous integration is consistenly failing due to this link:

`https://nixcon2018.org/` in this [post](https://github.com/HSF/hsf.github.io/blob/master/organization/_posts/2019/2019-02-27-packaging.md)

The url works without https though.

[2019-04-11 10:50] graeme-a-stewart commented on #561
Thanks - I'll fix it. It's very annoying when things like that happen, I had noticed it a while ago, but I usually leave it a little while to see if the website recovers.

[2019-04-11 10:51] JavierCVilla commented on #561
@graeme-a-stewart for some links it looks like just retrying the check works, I wonder the plugin offers such a feature.

[2019-04-11 10:55] graeme-a-stewart commented on #561
Believe me, if it offered something easy to use that made things more robust, we'd be using it already!

[2019-04-11 15:20] #561 closed

[2019-04-25 12:56] graeme-a-stewart commented on #240
Can we close this one now? It seems we have a working solution.

[2019-04-25 13:00] graeme-a-stewart opened #567 "Update calendar handling on website"
We have to have far too many manual steps right now for meetings:

- Create Indico.
- Add to community calendar.
- Do a PR to the website for a banner via an “announcement”.

This is tedious, tricky and error prone.

Indico offers (for ages) an export of events from an entire agenda section (e.g., https://indico.cern.ch/export/categ/5816.ics?from=-31d). So I propose that we use this as the “master

[2019-04-25 14:01] davidlange6 commented on #567
the 'PR to the website' step is certainly something that can be done automatically via GitHub apis. More tricky is to deal properly with events that move around

[2019-04-25 14:18] graeme-a-stewart commented on #567
So I was wondering about something a bit more dynamic than that - then the website info gets generated automatically and on the fly from Indico. Even if PRs get generated automatically someone has to look at them and approve them. Plus the problem that the list is only generated at commit time, not at the point the page is loaded.

That also handles meetings that move, disappear, etc.

[2019-04-25 14:22] davidlange6 commented on #567
well, it doesn't need to be a PR, can be a direct commit.  jekyll doesn't do updates when pages are accessed afaik, if thats what you mean?

but going through all indico events once (eg) per hour and updating the events area is doable I believe (modulo api hit-rate limitations)

[2019-10-28 13:29] graeme-a-stewart opened #613 "Fix persistent link failures"
There are a number of persistently failing links now for the link checker, which need to be addressed:

<https://travis-ci.org/HSF/hsf.github.io?utm_medium=notification&utm_source=email>

Some are real site breakages, others seem to be a certificate issue that needs patched in the docker image.

[2019-12-19 14:47] graeme-a-stewart opened #622 "Update note taking advice to CodiMD"
Currently we advise people to convert from Google Doc to Markdown to put things on the website. We should update this advice to recommend CodiMD for minute taking in the first place.

<https://hepsoftwarefoundation.org/jekyll-beginners.html>

[2019-12-19 14:48] graeme-a-stewart opened #623 "Update WGs"
We need to update the WG pages with the names of our new convenors for 2020.

QC and Visualisaion should be move (back) to Activities.

[2020-01-13 16:03] klieret commented on #623
for training WG:  #632

[2020-01-17 07:53] graeme-a-stewart commented on #623
Fixed in #635 as well as #632

[2020-01-17 07:53] #623 closed

[2020-01-21 09:54] klieret opened #651 "Simplify School template"
Currently the template for adding new training Schools looks like this:

[code]

so the body text is always ``[title](source)``.

I think we should automatize this (and not have any body text at all), i.e. only have

[code]
because

1. this avoids copy-paste mistakes
2. this is more future proof, e.g. if we want to change the way the links are displayed consistently (add deadlines etc.)

@Guillerm

[2020-01-21 09:57] klieret commented on #651
Actually looking at ``list_of_schools.md``, it looks like the body of the template isn't even used anyway, right?
Or is that used somewhere else?

[code]

if we just replace

[2020-01-22 20:33] GuillermoFidalgo commented on #651
Hi @klieret thanks for opening up this issue.

I agree that this `[text] (url)` in the body of the md files be automated.

When I started adding the schools my first instinct was precisely do what you mention, however I think that the reason for adding the `[text](url)` in the body is because it needs to produce some type of text page just in case

I think @graeme-a-stewart would know more as he s

[2020-01-23 05:36] GuillermoFidalgo commented on #651
Also wouldn't it be better if we put all school information in a single .yml file instead of creating possibly hundreds of markdown files?

We could loop over the yml file and output the same page we have now.

[2020-01-23 13:22] klieret commented on #651
Using ``.yml`` seems to be very straightforward: https://jekyllrb.com/docs/datafiles/

It would actually make it slightly easier to add new schools, because one doesn't have to type the date twice, so I agree this would make a lot of sense.

Actually what I thought of was even one step further: To have a tiny python script ``add_training-school.py`` with a simple text based GUI that guides you thr

[2020-01-23 14:58] GuillermoFidalgo commented on #651
In that case should we move all existing schools to the new yml file and keep populating or should we just leave as is and only new schools will be read from the yml file?

[2020-01-23 15:04] klieret commented on #651
I'd say we migrate all of them to yml in that case.
That should be super easy in just a few lines of python anyway

[2020-01-23 19:56] GuillermoFidalgo commented on #651
I will open a new branch and PR for this yml file you can add the python script there.

I'm just copy and pasting them for now but this is what I thought it could look like.

![image](https://user-images.githubusercontent.com/17858942/73018875-d6042100-3df8-11ea-88ef-86a62d182fe3.png)

(the deadline attribute I think would be best to add them for now so that we don't have to end up manually go lin

[2020-01-24 09:49] klieret commented on #651
Looks great!

Just regarding the deadline, shouldn't it also have the same date format as the others, i.e. ``YYYY-MM-DD``?

[2020-01-24 09:51] klieret commented on #651
Also I wonder, do we need the ``layout: event`` and ``categories: Schools``? (I think that's a leftover from when we were still using the ``.md``s; anyway it's the same every time and even if we wanted to have some more flexibility eventually, we could just set these two things as default values, right?)

[2020-01-24 13:50] GuillermoFidalgo commented on #651
Sure we could do that

You are correct. For generating the page we want these would be unnecessary

[2020-01-24 15:13] klieret commented on #651
So I wrote a simple ``add_event.py`` and will merge my branch with yours if you have it converted to yml.

[code]

[2020-01-30 20:39] GuillermoFidalgo commented on #651
Sorry it has take so long I have made a PR which add this yml file with all schools I have so far.

[2020-01-31 10:49] klieret commented on #651
No worries, thank you for your work. But that PR doesn't seem to include the change required in ``list_of_schools.md`` yet, right?

[2020-02-07 13:16] #651 closed

[2020-02-08 09:25] pratikcodes opened #713 "Improved grammar/wording across tutorial files"
There are several files I've gone through that require grammatical corrections. Doing so would make the contents of the files clear, more readable to newcomers, and improve the delivery of the content.

I'm talking specifically of the tutorial files, which newcomers are likely to click on first when they enter HSF's GitHub.

[2020-02-11 10:38] graeme-a-stewart commented on #622
Fixed in #645

[2020-02-11 10:38] #622 closed

[2020-02-11 10:48] graeme-a-stewart commented on #613
Just to say we are still in a bad shape here, as @jouvin was noting recently

[2020-02-12 15:15] graeme-a-stewart commented on #713
Thanks for the fixes!

[2020-02-12 15:15] #713 closed

[2020-02-21 15:47] davidlange6 opened #723 "2019 vs 2020 confusion"
Hi-
I notice some 2019 vs 2020 errors on the recent HSF meeting minutes as shown on the hsf home page.. I don't think I have time to look in the next week so thought I would report it..

eg
![image](https://user-images.githubusercontent.com/5042883/75049072-d8c26680-54c9-11ea-9061-7ae379c97275.png)

[2020-02-21 18:33] graeme-a-stewart commented on #723
Thanks @davidlange6 - I have a pending set of minutes to do, so I will fix this too

[2020-02-24 09:33] #723 closed

[2020-02-25 08:08] graeme-a-stewart opened #726 "Sync between HSF Indico and Google Calendar"
This is not strictly an HSF website issue, but...

At the moment adding quotidian HSF meetings (i.e., in Indico) into the HSF Google Calendar is done by hand. This is tedious and error prone.

It would be much nicer to sync this automatically, using the Indico APIs to harvest events and Google APIs to push them into the calendar.

Some care needs to be taken with the sync as we always need to add

[2020-02-25 08:09] graeme-a-stewart commented on #726
@roiser you said you might be able to adapt a script that you already have? If you accept the org invite then I should be able to assign this issue to you.

[2020-02-25 08:51] roiser commented on #726
Yes I have a private script which syncs events in indico categories to a google calendar. I can give it a try to adapt it to what's needed in HSF

[2020-02-25 10:06] graeme-a-stewart commented on #726
Yes, that would be great. I think you should have permissions to modify the calendar (by virtue of your role as coordinator), but let me know if you can't.

[2020-03-03 13:00] #613 closed

[2020-03-20 13:11] graeme-a-stewart commented on #726
Just as a workaround for now, I added the Indico feed to my own work Google Calendar and then I can just duplicate events into the HSF calendar, which is a lot quicker than manually adding entries

[2020-04-09 10:54] klieret opened #752 "How to include additional pages for workinggroups"
We want to add additional pages for the training working group. What's the best approach? I could

# Option 1
change it so that we can have subpages in the workinggroups directory, i.e.
[code]
and change the permalink of the workinggroups from ``/workinggroups/:title.html `` to ``/workinggroups/:path.html``

# Option 2
Have everything training related go to ``hepsoftwarefoundation/trainingdocs/..`

[2020-04-09 10:57] klieret commented on #752
I personally favor the option 3 because of the short and concise URL.

[2020-04-15 10:20] graeme-a-stewart commented on #752
Hi @klieret - I think Option 3 sounds generally good. However, I think that a landing page for the Training WG needs to be maintained in `_workinggroups/training.md` as the set of pages here are use dynamically in a few places:

https://github.com/HSF/hsf.github.io/blob/3acabc613a47db88b22093d948602e12d494c37c/_includes/navbar.ext#L29

So if it was being redirected it would get lost.

[2020-04-17 12:53] klieret commented on #752
Thanks! Let's review the details on #757

[2020-04-17 12:53] #752 closed

[2020-04-20 12:26] xvallspl commented on #240
If no one complained this year I would suggest to close it already. Tagging @agheata

[2020-06-17 11:40] graeme-a-stewart commented on #726
Note we have progress on this now, see <https://github.com/HSF/merge2gcal>

[2020-06-17 11:43] #240 closed

[2020-06-17 11:44] graeme-a-stewart commented on #310
Well, it seems that we can live with this, if it still happens, so closing this old issue.

[2020-06-17 11:44] #310 closed

[2020-06-17 11:45] graeme-a-stewart commented on #333
This was all fixed when we finalised the CWP activity and moved those web pages around

[2020-06-17 11:45] #333 closed

[2020-06-17 11:46] graeme-a-stewart commented on #567
Duplicate of #726

[2020-06-17 11:46] #567 closed

[2020-06-17 11:50] roiser commented on #726
I've made an initial commit of the files after a bit of cleanup.

There is also a working version of the scripts (one needs to create credentials) on my laptop. Next step would be to move the script to some other computing resource than my laptop.

[2020-06-24 13:56] roiser commented on #726
@graeme-a-stewart thanks for providing the machine. I've now moved the scripts to python 3 and set them up on the new node. The script shall run every 15 minutes (0,15,30,45) via crontab. Logs are rotated in the /log directory. So far so good, the first run was successful. Whenever new events are added in one of the indico agendas they should appear within 15 mins in the google calendar now.

[2020-06-25 08:16] graeme-a-stewart commented on #726
Hi @roiser - so I created a few events in Indico last night and I was waiting for them to sync, but there's still nothing this morning. These were:

https://indico.cern.ch/event/933083/
https://indico.cern.ch/event/933022/

And WGs have put in a few others:

https://indico.cern.ch/event/914610/
https://indico.cern.ch/event/932698/
https://indico.cern.ch/event/932570/

Can you take a look?

[2020-06-25 08:42] roiser commented on #726
Hi @graeme-a-stewart I see them in the calendars. I'm sync'ing to the calendars with the ids

jd5bdhh5eq.......@group.calendar.google.com (public)
mh9up33b8.......@group.calendar.google.com (non-public)

but strange enough since the script started yesterday to run for the first time (15:45) the logs don't show any sync happening. Could it be the entries were made before?

Could you remove the test

[2020-06-25 09:21] graeme-a-stewart commented on #726
Ah, wait... now I understand! The sync is to the *testing* public calendar, which is not really public at all. Yes, all the events are in that calendar as expected.

What we want to do (if you feel confident) is start syncing to the real HSF public calendar:

`e4v33e1a1drbncdle1n03ahpcs@group.calendar.google.com`

So, *did he fire six shots or only five?'* 😄

[2020-06-25 09:44] roiser commented on #726
0 shots but the events are there, this is somehow surprising ....

[2020-06-25 16:00] danielskatz opened #780 "web problems for education page"
The linkedin link for Jim Pivarski on https://hepsoftwarefoundation.org/training/community isn't being generated correctly.

I assume something is wrong in https://github.com/HSF/hsf.github.io/blob/master/_educators/jim_pivarski.md
The only think I see is the "null" that perhaps should just be blank.

@klieret ?

[2020-06-25 16:08] klieret commented on #780
Thanks for checking that! Indeed, I just fixed that.

[2020-06-25 16:08] #780 closed

[2020-06-26 09:38] graeme-a-stewart commented on #726
All good now, closed with the deployment of https://github.com/HSF/merge2gcal onto `hsf-calsync.cern.ch`.

[2020-06-26 09:38] #726 closed

[2020-09-24 08:10] graeme-a-stewart opened #835 "Floating heads for WGs"
We agreed at the HSF coordination meeting that it would be good to implement the floating heads for the convenors of all the WGs, generalising what was done for the training group.

@klieret as the person who did the nice training implementaion can you see how to implement this easily?

[2020-09-24 08:20] klieret commented on #835
Hi @graeme-a-stewart . Yes, I think this isn't too hard. Currently I'm very busy with organizing a starterkit workshop for Belle2, but I will definitely find the time for it by mid October (I'm planning to work on this sooner, but just can't promise anything...).

[2020-09-24 08:31] graeme-a-stewart commented on #835
Thanks a lot @klieret - October would of course be just fine!

[2020-10-30 12:54] klieret opened #847 "Typography/Design improvements"
For being a text-heavy page (which we undoubtedly are), our base font size of 16px is unusually small. Most web design pages recommend 18px (or even larger) for such low-interaction websites.

Sources

* [learnui.design](https://learnui.design/blog/mobile-desktop-website-font-size-guidelines.html)
* [w3-lab.com](https://w3-lab.com/web-design/how-big-should-a-font-be-on-a-site-rules-of-typography/)

[2020-10-30 12:58] klieret commented on #847
I'd also suggest slightly increased page margin.

And perhaps there's more suggestions to make the design a bit friendlier?

[2020-10-30 16:00] #835 closed

[2020-12-14 14:01] NinaPacifier commented on #847
@klieret I am new to open source contribution. May I work on its issue???

[2020-12-14 17:55] klieret commented on #847
Hi @NinaPacifier  sure, I haven't started working on this. Design changes are a bit of a "political" topic though, you need to convince people that the results looks better ;)

[2020-12-15 11:52] NinaPacifier commented on #847
@klieret  I will try my best :)

[2021-01-11 07:08] vinayakd1729 commented on #847
I see the font size of main text is 14px through inspect element. 16px seems good with relative to other headings and other elements. I have build some blogs on GitHub pages earlier and I have experience. May I work on this issue?

[2021-01-14 13:51] graeme-a-stewart opened #869 "Migrate website proofer to github actions"
Travis is going almost fully commercial and will only offer limited support to open source projects in the future.

I have therefore disabled the Travis webhooks for hsf.github.io, which has disabled Travis runs. The reality is that the link checking became so unreliable (see #184 ) that it was practically useless. In addition, running Travis via webhook was deprecated anyway, in favour of GitHub

[2021-01-14 14:28] graeme-a-stewart commented on #869
Just having a quick browse around this looks intersting:

https://github.com/gaurav-nelson/github-action-markdown-link-check

In particular it has the smarts to `check-modified-files-only`, which would be prefect to restrict the PR checks to files that people actually touched.

[2021-01-27 13:42] #184 closed

[2021-01-27 13:42] #869 closed

[2021-01-28 09:59] graeme-a-stewart opened #883 "Link checker issue tracking"
Just to note we had a glitch on the last merge into the master branch <https://github.com/HSF/hsf.github.io/runs/1783028603?check_suite_focus=true>

[code]

Not a great start, sadly!

[2021-01-28 12:39] graeme-a-stewart commented on #883
Just to note that the next test on push succeeded!

[2021-02-05 08:07] graeme-a-stewart commented on #883
https://github.com/HSF/hsf.github.io/pull/891 shows a false positive failure as the link checker doesn't seem to like `mailto:` links where multiple email addresses are given, separated by commas. It may well be that we're not using the correct syntax for multiple emails, although it in practive the CSV addresses work fine for me.

[2021-02-05 14:48] graeme-a-stewart commented on #883
OK, AFAICS from the relevant RFC comma separated values are legal:

[code]

https://tools.ietf.org/html/rfc6068

So I guess this is a flaw in the link checker itself

[2021-02-06 17:34] hegner commented on #847
@vinayakd1729 - seems this ticket went a bit dormant. Feel free to prepare a merge request with your ideas. We can take it from there then.

[2021-03-12 17:09] nimishbongale commented on #847
Can I take this up @hegner @klieret?

If I get the issue correctly, we are looking to increase the font size by a few px's?

[2021-03-12 17:26] klieret commented on #847
Nobody has submitted a pull request for this so far, so I'm sure it's fine :)   Should be pretty trivial code wise and more a question of good design :)

[2021-03-12 18:52] klieret commented on #847
@nimishbongale  I'm pretty much an amateur in this area ;)  Probably best to just play around with different things to tweak, create a couple of screenshots and see what people like :)

[2021-03-25 04:25] Ayushsunny commented on #883
Is this issue still persist @graeme-a-stewart ?

[2021-03-25 09:49] graeme-a-stewart commented on #883
Hello @Ayushsunny - the false positive on multiple email addresses does still exist, though it's a very easy one to work around. It would be rather useful to raise an issue and propose a fix in the underlyng tool.

[2021-03-25 13:01] Ayushsunny commented on #883
sorry, I didn't get you sir

[2021-03-26 12:59] graeme-a-stewart commented on #883
Hi @Ayushsunny

I mean the issue identified here is not for this repository, rather it's a problem in https://github.com/tcort/markdown-link-check (or probaly even underlying that in https://www.npmjs.com/package/isemail https://github.com/skeggse/isemail) that multiple recipients for a `mailto:` are not recognised.

That's where it should be fixed.

For us we just apply a workaround here https://

[2021-03-26 17:46] Ayushsunny commented on #883
Okay thank you so much for explaining this nicely sir @graeme-a-stewart
Actually sir I'm new to open source and I want a nice mentor like you to work under and learn something good

[2021-04-30 18:50] klieret commented on #847
another idea: https://github.com/HSF/hsf.github.io/pull/965

[2021-05-03 07:30] nimishbongale commented on #847
Have been having some issues with my health lately, I'm sorry for not following up. I'll be sure to give in my insights though!

[2021-05-03 08:31] klieret commented on #847
Health goes first! No pressure at all, hope you recover soon!

[2021-05-31 14:49] hegner commented on #883
@graeme-a-stewart - is it OK to close?

[2021-05-31 14:55] graeme-a-stewart commented on #883
Yes, I think we can now - the new link checker is working very well at the moment

[2021-05-31 14:55] #883 closed

[2021-06-25 18:39] klieret opened #983 "list_of_selected_training_modules doesn't respect order of ids"
I.e.

[code]

doesn't mean that the order of the modules in the [curriculum](https://hepsoftwarefoundation.org/training/curriculum.html) is unix, git, python, ssh, ml.

Need to do something a bit more clever in the [inclusion script](https://github.com/HSF/hsf.github.io/blob/master/_includes/list_of_selected_training_modules.html)

[2021-06-30 08:09] #983 closed

[2021-06-30 08:45] klieret commented on #847
I think we now completed every change that we had discussed, so I will close this.

[2021-06-30 08:45] #847 closed

[2021-09-06 14:03] klieret opened #1011 "fix calendar links in future-events.md"
[code]

[2021-10-19 12:52] graeme-a-stewart commented on #1011
Hi @klieret

It seems ok to me:

[code]

Was it a glitch? Or am I missing something?

Graeme

[2021-10-19 13:39] klieret commented on #1011
Hi @graeme-a-stewart . Thanks for checking. I saw that it was flagged by the link checker when I was cleaning up this absolute/relative URL stuff, so I thought it best to just open an issue without thinking further :)
Seems like we can close this :)

[2021-10-19 13:39] #1011 closed

[2021-11-03 11:41] klieret opened #1026 "How to add an event to the calendar?"
The [calendar page](https://hepsoftwarefoundation.org/future-events.html) doesn't mention who to contact or how to add an event in the calendar.

@graeme-a-stewart

[2021-11-04 09:11] #1026 closed

[2022-01-18 09:04] graeme-a-stewart opened #1043 "Rename master branch to main"
As there's been a lot of discussion in many communities about the conotations of git's default `master` branch (which I don't want to repeat here), but I'd like to propose that we rename the development branch of `hsf.github.io` to `main` which is a very acceptable alternative.

It's rather easy to do, following instructions like this: <https://github.com/github/renaming>.

[2022-01-18 09:06] graeme-a-stewart opened #1044 "Activity page for Conditions Databases"
We approved having a Conditions DB activity in the coordination meeting of 9 Dec 2021 <https://hepsoftwarefoundation.org/organization/2021/12/09/coordination.html>. So now we need a page that describes the activity and gives contact information.

[2022-01-18 16:27] klieret opened #1046 "Link checker fails internal links"
The link checker fails all links in recent PRs, see e.g. https://github.com/HSF/hsf.github.io/pull/1045 :+1:

[2022-01-18 16:28] klieret opened #1047 "Document usage of {{site.baseurl}}"

[2022-01-18 17:44] klieret commented on #1046
Hmm, I have no idea why this isn't working.

I confirmed with a `find` statement for example for the existence of

[code]

then later the link checker complains that

[code]

[2022-01-18 17:58] klieret commented on #1046
I'm currently out of ideas @graeme-a-stewart

What we could do as a not-perfect solution is to use the replacement pattern to prefix `https://hepsoftwarefoundation.org`. This would fail if you add a new markdown file and then directly link to it in the same PR, but should work for all the other links.

[2022-01-18 21:14] #1047 closed

[2022-01-21 09:14] graeme-a-stewart commented on #1046
Just spitballing here, would it help if instead of

[code]

we made it a relative path, viz.

[code]

[2022-01-21 14:07] klieret commented on #1046
Nope, that also doesn't work:

[code]

In fact, it looks like the link checker actually changes directories to the current file.
I don't think it did that in the past. This is probably made the previous solution fail.

[2022-01-21 15:00] graeme-a-stewart commented on #1046
Thanks @klieret. So do we need to construct the full absolute path then? Slipping a `$(pwd)` in there somewhere? In the Github Action CI we do know what the absolute path is, right?

[2022-01-21 15:06] klieret commented on #1046
The thing is, I already tried with full absolute paths (it's static, so we can just had code it). That's what's confusing me.

I just tried with a local installation of `markdown-link-check` and there it works with absolute paths.

Let me try again on the gh action

[2022-01-21 15:19] klieret commented on #1046
No, absolute paths don't work either. Reproduced [my previous comment](https://github.com/HSF/hsf.github.io/issues/1046#issuecomment-1015659518) again.

[2022-01-25 11:29] klieret commented on #1046
(Though linked to this issue, the merged PR is only a partial fix, so I'm keeping this open)

[2022-02-14 16:00] wdconinc opened #1073 "Colorblindness-friendlness on training curriculum page (for discussion)"
The colors on the [training curriculum page](https://hepsoftwarefoundation.org/training/curriculum.html) are close together in intensity, and use a color scheme that is not very suitable to people with colorblindness. Although the same information is already present in the text (Status: Early development, Status: Beta testing), it may make sense to adopt a visual cue that is independent of color a

[2022-02-14 16:19] wdconinc commented on #1073
@klieret

[2022-02-14 17:47] klieret commented on #1073
Oh wow, this is really cool! I really like the design. I personally don't think it's too obtrusive/distracting (because it's shaded quite lightly).

And it's true, I never thought about issues with colorblindness. Definitely an oversight!

[2022-02-14 17:50] klieret commented on #1073
We might also just move all of the experimental (red) modules down. They are really not at a stage where students can make much use of them, I guess.

[2022-02-14 17:53] klieret commented on #1073
(Also I personally think we definitely don't need to worry about compatibility with IE <= 9. Great that you checked the compatibility!)

[2022-02-14 18:29] wdconinc commented on #1073
Is it OK if I let you tweak and implement this? I think zeroth order would just be to add the css to `css/hsf.css`.

[2022-02-14 18:46] klieret commented on #1073
I opened a PR for 0th order :)

Let's just merge this and if people have follow up suggestions, we take another look.

[2022-02-14 22:27] #1073 closed

[2022-02-14 22:28] hegner commented on #1044
In the meantime done with #1056

[2022-02-14 22:28] #1044 closed

[2022-03-30 12:39] amangoel185 opened #1124 "Broken link for Training roles on the Training Working Group page"
The link for _Training roles_ is broken on the website.

If it's intended to point to [Educators](https://hepsoftwarefoundation.org/training/educators.html), [#L138](https://github.com/HSF/hsf.github.io/blob/057028d0d8b6d5baaaee44f5e77e03866e73dd71/_workinggroups/training.md?plain=1#L138) in [hsf.github.io/_workinggroups/training.md](https://github.com/HSF/hsf.github.io/blob/057028d0d8b6d5baaaee44

[2022-04-29 16:36] klieret commented on #1124
Thanks @amangoel185  I've opened a PR for this

[2022-05-06 17:16] #1124 closed

[2022-07-12 12:49] wdconinc opened #1161 "HSF website should have updated events"
The HSF front page still lists April and May events:
![image](https://user-images.githubusercontent.com/4656391/178493028-be725eec-0717-4c3d-8bd8-5da221e60dcf.png)

Should this be updated automatically? There have been website builds since then which should have picked up more recent ical events.

@graeme-a-stewart

[2022-07-12 13:16] hegner commented on #1161
Hi @wdconinc - I did not add the last minutes. Once I did that I will check whether it hangs somewhere.

[2022-07-25 12:11] hegner commented on #1161
It seems we are back to fine again here. I will close the ticket

What remains is to put the GSoC blogs on the frontpage, but that's a different issue

[2022-07-25 12:11] #1161 closed

[2022-07-31 16:27] amanmdesai opened #1189 "Matplotlib is mentioned twice on the curriculum page"

[2022-08-01 10:23] amanmdesai opened #1190 "Link hsf-simulation working group does not work"
The link:  "discussions are held on the [hsf-simulation](https://groups.google.com/forum/#%21forum/hsf-simulation) list" does not work

Page: https://hepsoftwarefoundation.org/workinggroups/detsim.html

[2022-08-03 06:47] amanmdesai opened #1195 "Link hsf-simulation working group does not work"
Links to the mailing list does not work

[2022-08-05 08:48] amanmdesai opened #1197 "Link checker fails"
See #1194 and https://github.com/HSF/hsf.github.io/runs/7646346300?check_suite_focus=true

[2022-08-08 08:34] #1190 closed

[2022-08-08 17:49] klieret commented on #1195
@efeyazgan @joshmcfayden

[2022-08-08 17:51] klieret commented on #1197
Hmm, seems to be mostly the  `mailto:` things that are currently failing.

I could create an exception for the checking there, I think

[2022-08-08 17:58] klieret commented on #1189
Thanks a lot, I wasn't aware of this!

[2022-08-08 17:59] klieret commented on #1043
Any update @graeme-a-stewart ?

[2022-08-09 13:21] klieret commented on #1197
Should be solved now

[2022-08-09 13:21] #1197 closed

[2022-08-11 14:13] #1189 closed

[2022-08-16 17:42] amanmdesai opened #1216 "Machine learning is mentioned twice on the curriculum page"
Machine Learning is mentioned twice on the curriculum page, once in the Basics section and then in Machine Learning Section.

Curriculum page:
https://hepsoftwarefoundation.org/training/curriculum.html

[2022-08-17 10:11] amanmdesai commented on #1216
@klieret

[2022-08-17 21:25] klieret commented on #1216
Hi @amanmdesai . Thanks for taking a critical look at the curriculum.

IIRC this was intended though (with the logic that ML is pretty much "Basic knowledge" meanwhile)

[2022-08-17 21:25] #1216 closed

[2022-08-22 09:35] efeyazgan commented on #1195
Hi @klieret @amanmdesai

Fixed it by changing the group settings in google.

[2022-08-22 11:32] amanmdesai commented on #1195
Thank you.

[2022-09-12 15:41] klieret opened #1243 "Add twitter handle to github organization"
@graeme-a-stewart

[2022-09-12 15:48] graeme-a-stewart commented on #1243
Done!

[2022-09-12 15:48] #1243 closed

[2022-09-12 17:31] klieret opened #1244 "Create .github repository in organization"
Creating this issue here for lack of better alternatives: Organizations can have a "global" readme. Like this for hsf-training:

![image](https://user-images.githubusercontent.com/13602468/189718858-fc02643b-b1fc-4e8a-be3c-6abe85cf26eb.png)

Specifically I'd really like it if we could add a clearly visible link to the hsf-training github organization.

[2022-09-13 14:48] klieret opened #1246 "Fix mobile layout of "big links" used by training group"
This is what it looks like on mobile atm:

![2022-09-13 10 46 48](https://user-images.githubusercontent.com/13602468/189932824-2ed2c4db-4d10-4cf1-9e3a-697f13af003a.jpg)

We should probably switch to a `max-width` and flexible number of columns. Like employed on the main page of HSF

[2022-09-13 14:49] klieret commented on #1244
I'd vote on just creating a blank one and then we can review PRs there

[2022-09-13 14:53] klieret opened #1247 "Fix mobile layout of floating pictures"
* **Required knowledge**: HTML, CSS

The floating pictures on https://hepsoftwarefoundation.org/workinggroups/training.html get very very small on a mobile layout. Instead they should just flow to "interrupt" the text.

[2022-09-13 14:56] klieret commented on #1246
Possible starting point is the `row`/`column` construction on `_layouts/main.html`:

[code]

[2022-09-14 07:18] graeme-a-stewart commented on #1244
I see - I was wondering how this could be achived, because it would be nice to use the GH org itself as entry point. It seems also very useful for sharing resources between the more specific repositories.

[2022-09-14 07:24] graeme-a-stewart commented on #1244
Done: <https://github.com/HSF/.github>

[2022-09-14 07:24] #1244 closed

[2022-09-14 07:59] developer-irfan commented on #1247
Hello @klieret, yes pictures get very small on mobile device bcz they are not responsive and are in the same row of text. just assign me this i will solve this so in order the pics are display properly. thankyou

[2022-09-14 14:07] klieret commented on #1247
Thank you for your interest @developer-irfan !  There was already one PR (#1250) about this, but unfortunately I do not think that it does what we need. I'd be quite happy if you'd give it a try as well or leave a comment at #1250 :)

[2022-09-19 15:08] klieret opened #1252 "Fix typos discovered by new codespell"
See #1233

[2022-09-26 23:09] klieret opened #1260 "Jekyll: Fix superfluous closing div in list of educators per year"
**Required knowledge:** Jekyll, liquid

The logic that needs to be fixed is at https://github.com/HSF/hsf.github.io/blob/master/_includes/list_of_educators.html

If a new year starts and now educator has been registered for that year, a superfluous `</div>` is printed (see also comment at the bottom of the page)

[2022-09-27 02:32] klieret opened #1261 "Update/remove howto-update-module & how-to-start-module pages"

[2022-10-02 08:07] Ahnaf-codes commented on #1246
I can solve this if you give steps to reproduce the issue

[2022-10-02 14:55] klieret commented on #1246
Hi @Ahnaf-codes. I've slightly clarified the objective in the first post.

[2022-10-02 15:01] Ahnaf-codes commented on #1246
I can work on it @klieret assign me

[2022-10-03 07:43] sky-akash05 commented on #1252
**hi, I will love to contribute to your project . Will feel grateful i you can assign this to me,i have sound knowledge of git and GitHub**

[2022-10-03 17:04] klieret commented on #1252
Hi @sky-akash05 . Thanks for your interested, but I think @Vaibhav-Chopra-GT has already solved this with https://github.com/HSF/hsf.github.io/pull/1264 just now.

[2022-10-03 17:14] klieret commented on #1246
Thanks for your interest. I've assigned you to this issue. In order to not other people who are working on this, it would be great to hear back from you or see a PR within the next week :)

[2022-10-06 14:38] klieret commented on #1043
Pushing for a this, just because all of my muscle-memory meanwhile does `checkout main` ;)

[2022-10-06 16:40] Ahnaf-codes commented on #1247
is this good? @klieret
![Screenshot 2022-10-06 at 22-40-55 HSF Training](https://user-images.githubusercontent.com/102795582/194370370-3dbe568a-406a-435f-87bb-4c59801a5bfc.png)

[2022-10-06 16:52] klieret commented on #1247
Thanks for taking a look at that :) Already much better! But could we in principle also have it simply take 100% of the width if we are at such small display sizes?

[2022-10-06 16:54] Ahnaf-codes commented on #1247
yeah thats pretty simple. ill send a pic

[2022-10-06 16:56] Ahnaf-codes commented on #1247
![Screenshot 2022-10-06 at 22-56-24 HSF Training](https://user-images.githubusercontent.com/102795582/194373328-5c292bef-1814-49cc-a397-650454644a6f.png)
@klieret

[2022-10-06 17:06] klieret commented on #1247
That looks perfect! :D

[2022-10-06 17:09] Ahnaf-codes commented on #1247
ill send the pr tomorrow since im kinda tired

[2022-10-08 08:38] Ahnaf-codes commented on #1247
@klieret its done

[2022-11-01 17:25] #1247 closed

[2022-11-08 15:28] klieret opened #1290 "Analytics for curriculum page/training page"
As mentioned in the coordinated ecosystem workshop: It would be a good validation for our efforts to understand how many people actually land on our curriculum page.

Do we have analytics/hit counters? If not, can we enable it?

[2022-11-09 16:29] klieret opened #1294 "Remove uproot from training modules?"
IIRC, the scikit-hep module was also intended as replacement for it...

[2022-11-13 17:40] klieret opened #1298 "List of training schools: Only show "Current/upcoming" if there are any"
https://hepsoftwarefoundation.org/Schools/events.html: The current/upcoming section is shown even without corresponding events

[2022-11-13 18:51] rohini-ranjanR commented on #1298
We can achieve this by using the conditions https://discourse.gohugo.io/t/conditionally-include-some-text-in-markdown-file/30163 this may help.

[2022-11-14 15:13] graeme-a-stewart commented on #1290
I had thought that we had Google Analytics enabled on the HSF website, but now that I check I can't find any trace of it. Anyway, I am not at all sure that I would feel comfortable adding the Google tracking monster to the HSF site. OTOH, that probably applies to any analytics solution we might employ. Any idea what technical options we actually have here?